@import "../GlobalStyles/Variable.scss";

.wrapper {
  margin-top: 32px;
  line-height: 1.5;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.title-section {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-size: 1.8rem;
  color: $text-primary;
}

.container-main {
  display: flex;
  margin: 0 -15px;
  display: flex;
  z-index: 3;
  width: 100%;
  overflow: hidden;
  flex-shrink: 1;
}

.item-radio {
  width: 14.28571%;
  position: relative;
  min-height: 1px;
  padding-left: 14px;
  padding-right: 14px;
  float: left;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease 0.1s;
  margin: 0 10px;
}
