.wrapper {
  cursor: pointer;
  color: #fff;
  font-size: 1.4rem;
  line-height: normal;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  position: relative;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  width: 44px;
  height: 24px;
  font-size: 1.8rem;
}

.arrow.disabled {
  color: #544e5d;
  cursor: default;
}

.search-btn {
  font-size: 2rem;
  margin-left: 14px;
}

.clear-btn {
  position: absolute;
  right: 12px;
  opacity: 0.7;
}

.download-desktop-app {
  height: 40px;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  border-radius: 999px;
  background-color: var(--alpha-bg);
  margin-right: 12px;
}

.setting-item {
  margin-right: 12px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--alpha-bg);
  border-radius: 999px;
  color: #fff;
  &:hover {
    opacity: 0.9;
  }
}

.sidebar {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 10px 25px;
  color: var(--navigation-text);
  border-left: 3px solid transparent;
  &:hover {
    color: #fff;
  }

  .icon-right {
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0 !important;
    border-radius: 999px;
    position: absolute;
    right: 20px;
    align-items: center;
    justify-content: center;
    display: none;
  }

  &:hover .icon-right {
    display: flex;
  }
}

.sidebar.active {
  background-color: var(--alpha-bg);
  color: #fff;
}

.icon {
  font-size: 1.6rem;
}

.icon-left {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.btn-icon {
  background-color: transparent;
  // width: 38px;
  // height: 38px;
  margin: 0 4px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  border-radius: 999px;
  font-weight: 400;
  text-transform: none;
  cursor: pointer;
  position: relative;
  color: var(--song-item-action);
  &:hover {
    background-color: var(--alpha-bg);
  }
}

.btn-icon.album {
  background-color: var(--alpha-bg);
  width: 35px;
  height: 35px;
}

.btnMv {
  cursor: not-allowed;
  opacity: 0.5;
}

@media screen and (max-width: 1024px) and (min-width: 740px) {
  .sidebar {
    .title {
      display: none;
    }
  }
}
//mobile width < 740px
@media screen and (max-width: 739.9px) {
}
