@import "../../../components/GlobalStyles/Variable.scss";

.wrapper {
  height: 70px;
  min-width: 660px;
  background-color: $layout-header-bg;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0;
  margin-left: 240px;
  padding: 0 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(50px);
}

.wrapper.sticky {
  background-color: transparent;
  backdrop-filter: blur(0);
}

// Level-left

.level-left {
  display: flex;
  flex-grow: 1;
  height: 40px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

// Level-right

.level-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
}

.download-icon {
  font-size: 1.8rem;
  color: $link-text-hover;
  margin-right: 4px;
}

.download-content {
  font-weight: 600;
  font-size: 1.4rem;
  color: $link-text-hover;
  &:hover {
    opacity: 0.9;
  }
}

.setting-item {
  font-size: 1.4rem;
  margin-right: 12px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $alpha-bg;
  border-radius: 999px;
  color: $text-primary;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}

.login-container {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  background-color: $alpha-bg;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 999px;
}

.box {
  background-color: $primary-bg;
  border-radius: 8px;
  position: absolute;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
  min-width: 240px;
  z-index: 101;
  top: 50px;
  right: -18px;
  color: $text-primary;
}

.menu-option {
  width: 100%;
  padding: 12px 20px 12px 17px;
  font-size: 1.4rem;
  line-height: normal;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: left;
  position: relative;

  .menu-icon {
    margin-right: 10px;
    font-size: 1.6rem;
  }

  &:hover {
    background-color: $alpha-bg;
    color: $text-primary;
  }
}

.menu-icon-sub {
  font-size: 1.8rem;
  position: absolute;
  right: 10%;
}

.menu-top {
  color: $navigation-text;
}

.menu-bottom {
  color: $text-secondary;
}

.container-menu-top,
.container-menu-bottom {
  margin: 10px 0;
}

.container-content-hover {
  display: flex;
}

.container-btn-start {
  width: 27px;
  height: 15px;
  border-radius: 31px;
  background-color: #a0a0a0;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  &::after {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: $text-primary;
    top: 50%;
    transform: translateY(-50%);
  }
}

.container-btn-start.active {
  background-color: $purple-primary;
  &::after {
    transform: translate(100%, -50%);
  }
}

.dash {
  border-top: 1px solid $border-primary;
  color: $text-secondary;
}

.menu-hover-container {
  position: absolute;
  top: -30px;
  right: 99%;
  background-color: $primary-bg;
  border-radius: 8px;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
  width: 274px;
  z-index: 101;
  overflow: hidden;
  display: none;
}

.menu-option:hover .menu-hover-container {
  display: block;
}

.menu-hover-option {
  display: block;
  color: $text-primary;
  cursor: pointer;
  margin: 10px 0;
}

.description {
  margin-top: 6px;
  line-height: 1.5;
  font-size: 1.2rem;
  color: $text-secondary;
}

.content-hover {
  color: $navigation-text;
}

// REPONSIVE
@media screen and (max-width: 1024px) and (min-width: 740px) {
  .wrapper {
    margin-left: 70px;
    padding: 0 20px;
  }
  .level-right {
    .setting-item:nth-child(2),
    .setting-item:nth-child(3) {
      display: none;
    }
  }
}
//mobile width < 740px
@media screen and (max-width: 739.9px) {
}
