.wrapper {
  margin: 0 60px;
  margin-bottom: 300px;
}
// Css chung

.media-left {
  position: relative;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--loading-bg);
  margin-right: 10px;

  &:hover .music-media {
    transform: scale(1.1) translateZ(0);
  }
  &:hover .btn-section {
    opacity: 1;
  }
  &:hover .opacity {
    opacity: 1;
  }
}

.opacity {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark-alpha-50);
  opacity: 0;
}

.btn-section {
  font-size: 4.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: transform 0.7s;
  z-index: 1;
  cursor: pointer;
  color: #fff;
}

.singer {
  color: var(--text-secondary);
  line-height: 1.33;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--purple-primary);
  }
}

.navigation-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: hsla(0, 0%, 100%, 0.15);
  box-shadow: 0 2px 4px 0 rgb(226 102 102 / 15%);
  font-size: 3rem;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  z-index: 9;
}

.container-content {
  display: flex;
  margin: 0 -15px;
  position: relative;
  user-select: none;
  overflow: hidden;
}

// Slider

.gallery-container {
  padding-top: 32px;
  margin-bottom: 20px;
  &:hover .gallery-btn {
    opacity: 1;
  }
}

.gallery-item {
  width: 33.333%;
  padding: 0 15px;
  flex-shrink: 0;
  cursor: pointer;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out,
    z-index 0s linear 0.25s;
  img {
    z-index: 10;
    border-radius: 8px;
    width: 100%;
  }
}

.gallery-btn {
  opacity: 0;
  transition: opacity 0.1s linear;
  .navigation-btn {
    width: 55px;
    height: 55px;
    color: #fff;
  }
  .back {
    left: 25px;
  }
  .next {
    right: 25px;
  }
}

//Album recently

.container-section {
  margin-top: 48px;
}

.title-section {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  color: var(--text-primary);
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
}

.select-recently {
  display: flex;
  margin-left: -14px;
}

.album {
  width: 145px;
  overflow: hidden;
  margin: 0 14px;
  border-radius: 4px;
  img {
    width: 100%;
    cursor: pointer;
  }
}

.title-recently {
  margin-top: 12px;
  text-transform: none;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  &:hover {
    color: var(--link-text-hover);
  }
}

.nav-new {
  display: flex;
  margin-bottom: 16px;
}

.nav-btn {
  border-color: var(--purple-primary);
  background-color: transparent;
  color: var(--white);
  padding: 4px 24px;
  border: 1px solid var(--border-primary);
  border-radius: 100px;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 15px;
  cursor: pointer;
}

.nav-btn.active {
  background-color: var(--purple-primary);
}

.container-musics {
  min-height: 190px;
  flex-wrap: wrap;
}

.container-colum {
  width: 33.33333%;
  position: relative;
  min-height: 1px;
  padding-left: 14px;
  padding-right: 14px;
  float: left;
  flex-shrink: 0;
  &:hover .three-dot {
    visibility: visible;
  }
}

// Chill, Focus, Nghệ Sĩ Thịnh Hành

.item-section {
  width: 20%;
  position: relative;
  min-height: 1px;
  padding-left: 14px;
  padding-right: 14px;
  float: left;
  flex-shrink: 0;
}

.media-section {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  display: block;
  overflow: hidden;
  width: 100%;
  color: #fff;
  cursor: pointer;
  img {
    width: 100%;
    transition: transform 0.7s;
  }
  &:hover img {
    transform: scale(1.1) translateZ(0);
  }
  &:hover .btn-section {
    opacity: 1;
  }
  &:hover .opacity {
    opacity: 1;
  }
}

.content-section {
  margin-top: 12px;
  font-weight: 400;
  line-height: 1.3;
  font-size: 14px;
  color: var(--text-secondary);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

// TOP MUSIC

.wrapper-main {
  position: relative;
}

.more-section {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: var(--text-secondary);
  svg {
    font-size: 17px;
    margin-left: 6px;
    polyline {
      stroke: var(--text-secondary);
    }
  }
}

.item-container {
  width: 33.33333%;
  min-height: 1px;
  padding-left: 14px;
  padding-right: 14px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease 0.1s;
}

.music-item {
  display: flex;
  padding: 15px;
  border-radius: 5px;
  background-color: #2f2639;
}

.music-media {
  width: 120px;
  height: 120px;
  transition: transform 0.7s;
  color: #fff;
}

.music-content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
  align-self: center;
  width: 0;
}

.date-release {
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 1.8;
  color: var(--text-secondary);
  font-size: 14px;
  cursor: pointer;
  font-weight: 300;
}

.music-title {
  display: flex;
  align-items: center;
  white-space: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

.music-artits {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 95%;
}

.number-top {
  opacity: 0.4;
  -webkit-text-stroke: 1px #fff;
  font-size: 40px;
  font-weight: 900;
  color: transparent;
  line-height: 1;
}

.view-all {
  height: 100%;
  color: var(--purple-primary);
  font-weight: 500;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-bxh-left {
  left: -19px;
  width: 38px;
  height: 38px;
  color: #474747;
  background-color: #fff;
  font-size: 22px;
}

.btn-bxh-right {
  right: -19px;
  width: 38px;
  height: 38px;
  color: #474747;
  background-color: #fff;
  font-size: 22px;
}
