@import "../GlobalStyles/Variable.scss";

.wrapper {
  min-height: calc(100% - 158px);
  margin: 0 auto 30px 0;
  color: $text-primary;
  padding-top: 40px;
  margin-bottom: 160px;
  .container-top {
    min-height: 500px;
  }
}

.playlist-header {
  position: sticky;
  top: 110px;
  display: block;
  width: 300px;
  float: left;
  padding: 0 0 30px;
}

.header-media {
  text-align: left;
  overflow: hidden;
  transition: border-radius 2s ease-out;
  border-radius: 8px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 300px;
  img {
    width: 100%;
  }
}

.header-content {
  display: flex;
  align-items: center;
  margin-top: 12px;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  word-break: break-word;
}

.album-title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 0;
  text-transform: none;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  text-align: center;
}

.album-artists {
  text-align: center;
  color: $text-secondary;
  font-size: 1.2rem;
  line-height: 1.75;
  word-break: break-word;
}

.play-playlist {
  margin: 16px 0;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  background-color: $purple-primary;
  border-color: $purple-primary;
  color: $text-primary;
  font-size: 1.4rem;
  padding: 9px 24px;
  border: 1px solid $border-primary;
  font-weight: 400;
  border-radius: 999px;
  cursor: pointer;
  position: relative;
}

.playlist-content {
  margin-left: 330px;
  word-break: break-word;
}

.content-description {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: $text-primary;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  &:last-child span {
    line-height: 1.5;
  }
}

.description-fixed {
  color: $text-secondary;
}

.content-list {
  margin-bottom: 10px;
}

.list-header {
  border-bottom: 1px solid $border-secondary;
  height: 46px;
  align-items: center;
  display: flex;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
}

.media-left {
  width: 50%;
  margin-right: 10px;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.media-center {
  margin-left: -10px;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
  align-self: center;
}
.media-right {
  margin-left: 10px;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.colum-text {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  color: $text-secondary;
}

.icon-music {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: $song-item-action;
  font-weight: 700;
  margin-right: 10px;
}

.content-subtitle {
  font-size: 1.2rem;
  color: $text-secondary;
  font-weight: 400;
  span {
    margin-right: 8px;
    &:last-child {
      margin-left: 8px;
    }
  }
}

// Albums

.related-albums {
  margin-top: 48px;
  position: relative;
  width: 100%;
}

.title {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  text-transform: capitalize;
}

.albums {
  display: flex;
  margin: 0 -15px;
  user-select: none;
  overflow: hidden;
  width: 100%;
  transform: translate3d(0px, 0px, 0px);
}

.album {
  position: relative;
  min-height: 1px;
  width: 20%;
  padding-left: 14px;
  padding-right: 14px;
  float: left;
  flex-shrink: 0;
}

.media-album {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  img {
    width: 100%;
    transition: transform 0.7s;
  }
  &:hover img {
    transform: scale(1.2);
  }
}

.inf-album {
  margin-top: 12px;
}

.title-album {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.36;
  color: $text-primary;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.artists-album {
  font-size: 1.4rem;
  color: $text-secondary;
  font-weight: 400;
  line-height: 1.33;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// REPONSIVE
@media screen and (max-width: 1024px) and (min-width: 740px) {
  .playlist-content {
    margin-left: 0;
  }
  .container-top {
    display: flex;
    flex-direction: column;
  }
  .playlist-header {
    display: flex;
    width: 100%;
    .header-media {
      width: 200px;
      height: 200px;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
      margin-right: 20px;
    }
    .header-content {
      align-items: start;
      h3 {
        text-align: left;
      }
    }
  }
  .song-list {
    height: auto;
    max-height: 100%;
  }
  .actions {
    flex-direction: initial;
  }
}
//mobile width < 740px
@media screen and (max-width: 739.9px) {
}
