.wrapper {
  min-height: calc(100% - 158px);
  margin: 0 auto 30px 0;
  color: #fff;
  padding-top: 40px;
  margin-bottom: 160px;
}

.playlist-header {
  position: sticky;
  top: 110px;
  display: block;
  width: 300px;
  float: left;
  padding: 0 0 30px;
}

.header-media {
  text-align: left;
  overflow: hidden;
  transition: border-radius 2s ease-out;
  border-radius: 8px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 300px;
  img {
    width: 100%;
  }
}

.container-top {
  min-height: 500px;
}

.header-content {
  display: flex;
  align-items: center;
  margin-top: 12px;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  word-break: break-word;
}

.album-title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 0;
  text-transform: none;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  text-align: center;
}

.album-artists {
  text-align: center;
  color: var(--text-secondary);
  font-size: 1.2rem;
  line-height: 1.75;
  word-break: break-word;
}

.play-playlist {
  margin: 16px 0;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  background-color: var(--purple-primary);
  border-color: var(--purple-primary);
  color: var(--white);
  font-size: 1.4rem;
  padding: 9px 24px;
  border: 1px solid var(--border-primary);
  font-weight: 400;
  border-radius: 999px;
  cursor: pointer;
  position: relative;
}

.playlist-content {
  margin-left: 330px;
  word-break: break-word;
}

.content-description {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: var(--text-primary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  &:last-child span {
    line-height: 1.5;
  }
}

.description-fixed {
  color: var(--text-secondary);
}

.content-list {
  margin-bottom: 10px;
}

.list-header {
  border-bottom: 1px solid var(--border-secondary);
  height: 46px;
  align-items: center;
  display: flex;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
}
.media-left {
  width: 50%;
  margin-right: 10px;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.media-center {
  margin-left: -10px;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
  align-self: center;
}
.media-right {
  margin-left: 10px;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.colum-text {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--text-secondary);
}

.song-item {
  display: flex;
  position: relative;
  max-width: 100%;
  flex-grow: 1;
  border-bottom: 1px solid var(--border-secondary);
  align-items: center;
  display: flex;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: var(--alpha-bg);
  }
}

.song-item.active {
  background-color: var(--alpha-bg);
}

.icon-music {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: var(--song-item-action);
  font-weight: 700;
  margin-right: 10px;
}

.media-img {
  margin-right: 10px;
  flex-shrink: 0;
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  img {
    width: 100%;
  }
  &:hover .btn-play {
    opacity: 1;
  }
}

.btn-play {
  opacity: 0;
  height: 18px;
  width: 18px;
  border-radius: 999px;
  color: #fff;
  position: absolute;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

.song-list {
  margin-bottom: 10px;
  scroll-behavior: smooth;
  overflow: scroll;
  max-height: 100vh;
}

.inf-song {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80%;

  .title-song {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    font-weight: 400;
    vertical-align: top;
    font-size: 14px;
    white-space: nowrap;
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 80%;
    }
  }

  .artist-song {
    line-height: 1.33;
    display: block;
    font-size: 12px;
    margin-top: 3px;
    color: var(--text-secondary);
    font-weight: 400;
  }
}

.album-name {
  color: var(--song-item-action);
  font-size: 12px;
  white-space: nowrap;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.duration {
  font-size: 12px;
  width: 46px;
  color: var(--song-item-action);
}

.content-subtitle {
  font-size: 12px;
  color: var(--text-secondary);
  font-weight: 400;
  span {
    margin-right: 8px;
    &:last-child {
      margin-left: 8px;
    }
  }
}

// Albums

.related-albums {
  margin-top: 48px;
  position: relative;
  width: 100%;
}

.title {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  text-transform: capitalize;
}

.albums {
  display: flex;
  margin: 0 -15px;
  user-select: none;
  overflow: hidden;
  width: 100%;
  transform: translate3d(0px, 0px, 0px);
}

.album {
  position: relative;
  min-height: 1px;
  width: 20%;
  padding-left: 14px;
  padding-right: 14px;
  float: left;
  flex-shrink: 0;
}

.media-album {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  img {
    width: 100%;
    transition: transform 0.7s;
  }
  &:hover img {
    transform: scale(1.2);
  }
}

.inf-album {
  margin-top: 12px;
}

.title-album {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.36;
  color: var(--text-primary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.artists-album {
  font-size: 14px;
  color: var(--text-secondary);
  font-weight: 400;
  line-height: 1.33;
}
