@import "../GlobalStyles/Variable.scss";

.wrapper {
  margin-top: 48px;
}

.title-section {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  color: $text-primary;
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
}

.nav-new {
  display: flex;
  margin-bottom: 16px;
}

.nav-btn {
  border-color: $purple-primary;
  background-color: transparent;
  color: $text-primary;
  padding: 4px 24px;
  border: 1px solid $border-primary;
  border-radius: 100px;
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-right: 15px;
  cursor: pointer;
}

.nav-btn.active {
  background-color: $purple-primary;
}

.container-musics {
  flex-wrap: wrap;
  display: flex;
  margin: 0 -15px;
  position: relative;
  user-select: none;
  overflow: hidden;
}

.container-colum {
  width: 33.33333%;
  position: relative;
  min-height: 1px;
  padding-left: 14px;
  padding-right: 14px;
  float: left;
  flex-shrink: 0;
  &:hover .three-dot {
    visibility: visible;
  }
}

// REPONSIVE
@media screen and (max-width: 1024px) and (min-width: 740px) {
  .container-colum {
    width: 50%;
  }
}
//mobile width < 740px
@media screen and (max-width: 739.9px) {
}
