@import "../GlobalStyles/Variable.scss";

.media-left {
  width: 50%;
  margin-right: 10px;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.media-center {
  margin-left: -10px;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
  align-self: center;
}
.media-right {
  margin-left: 10px;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.colum-text {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: $text-secondary;
}

.song-item {
  display: flex;
  position: relative;
  max-width: 100%;
  flex-grow: 1;
  border-bottom: 1px solid $border-secondary;
  align-items: center;
  display: flex;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: $alpha-bg;
  }
}

.song-item.active {
  background-color: $alpha-bg;
}

.icon-music {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: $song-item-action;
  font-weight: 700;
  margin-right: 10px;
}

.media-img {
  margin-right: 10px;
  flex-shrink: 0;
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  img {
    width: 100%;
  }
  &:hover .btn-play {
    opacity: 1;
  }
}

.btn-play {
  opacity: 0;
  height: 18px;
  width: 18px;
  border-radius: 999px;
  color: $text-primary;
  position: absolute;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

.wrapper {
  margin-bottom: 10px;
  scroll-behavior: smooth;
  overflow: scroll;
  max-height: 100vh;
}

.wrapper::-webkit-scrollbar {
  width: 0px;
}

.wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.inf-song {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80%;

  .title-song {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    font-weight: 400;
    vertical-align: top;
    font-size: 1.4rem;
    white-space: nowrap;
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 80%;
    }
  }

  .artist-song {
    line-height: 1.33;
    display: block;
    font-size: 1.2rem;
    margin-top: 3px;
    color: $text-secondary;
    font-weight: 400;
  }
}

.album-name {
  color: $song-item-action;
  font-size: 1.2rem;
  white-space: nowrap;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.duration {
  font-size: 1.2rem;
  width: 46px;
  color: $song-item-action;
}

// REPONSIVE
@media screen and (max-width: 1024px) and (min-width: 740px) {
  .wrapper {
    height: auto;
    max-height: 100%;
  }
}
//mobile width < 740px
@media screen and (max-width: 739.9px) {
}
