@import "../GlobalStyles/Variable.scss";

.wrapper {
  background: transparent;
  margin: -70px -60px 0;
  text-align: center;
  height: 280px;
  position: relative;
}

.bg-blur {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 260px;
  z-index: 0;
  filter: grayscale(1);
}
.bg-alpha {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 260px;
  z-index: 0;
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0) 37%,
    $layout-bg
  );
}
.bg-alpha1 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  position: absolute;
  height: 260px;
  z-index: 0;
  background-image: linear-gradient(180deg, $layout-bg, $layout-bg);
}

.wrapper svg {
  position: relative;
  margin-top: 90px;
}
